In [69]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

#need to add some statistical items
#need to add graphs
#need to pull in taxi 2015
#need to pull in for hire data

# Taxi Data

In [70]:
taxi_dec_2019 = pd.read_csv("taxi_dec_2019.csv")
taxi_june_2019 = pd.read_csv("taxi_june_2019.csv")

In [71]:
taxi_dec_2019.tpep_pickup_datetime = pd.to_datetime(taxi_dec_2019.tpep_pickup_datetime)
#june_2019.tpep_dropoff_datetime	 = pd.to_datetime(june_2019.tpep_dropoff_datetime)

In [72]:
taxi_dec_2019.head(2)

,Unnamed: 0,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,fare_amount,tip_amount,total_amount,pickup_date,pickup_time,dropoff_date,dropoff_time
0,25,2019-12-01 00:10:13,2019-12-01 00:13:30,3.0,1.2,1.0,140,263,5.5,1.85,11.15,2019-12-01,00:10:13,2019-12-01,00:13:30
1,107,2019-12-01 00:08:57,2019-12-01 00:20:32,2.0,3.1,1.0,48,263,11.5,3.06,18.36,2019-12-01,00:08:57,2019-12-01,00:20:32

In [73]:
taxi_june_2019.head(2)

,Unnamed: 0,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,fare_amount,tip_amount,total_amount,pickup_date,pickup_time,dropoff_date,dropoff_time
0,1,2019-06-01 00:06:31,2019-06-01 00:06:52,1,0.0,1,262,263,2.5,0.0,6.3,2019-06-01,00:06:31,2019-06-01,00:06:52
1,78,2019-06-01 00:37:38,2019-06-01 00:41:39,1,0.6,1,237,263,5.0,0.0,8.8,2019-06-01,00:37:38,2019-06-01,00:41:39

In [74]:
taxi_june_2019.tpep_pickup_datetime = pd.to_datetime(taxi_june_2019.tpep_pickup_datetime)
taxi_june_2019.tpep_dropoff_datetime	 = pd.to_datetime(taxi_june_2019.tpep_dropoff_datetime)

taxi_june_2019['ride_duration'] = taxi_june_2019.tpep_dropoff_datetime - taxi_june_2019.tpep_pickup_datetime
taxi_june_2019.ride_duration.mean()

Timedelta('0 days 00:14:15.436648947')

In [76]:
taxi_dec_2019.tpep_pickup_datetime = pd.to_datetime(taxi_dec_2019.tpep_pickup_datetime)
taxi_dec_2019.tpep_dropoff_datetime	 = pd.to_datetime(taxi_dec_2019.tpep_dropoff_datetime)

taxi_dec_2019['ride_duration'] = taxi_dec_2019.tpep_dropoff_datetime - taxi_dec_2019.tpep_pickup_datetime
taxi_dec_2019.ride_duration.mean()

Timedelta('0 days 00:13:49.081832238')

In [56]:
taxi_2019 = pd.concat([dec, june],axis=0)

In [57]:
taxi_2019.head(2)

,Unnamed: 0,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,fare_amount,tip_amount,total_amount,pickup_date,pickup_time,dropoff_date,dropoff_time
0,25,2019-12-01 00:10:13,2019-12-01 00:13:30,3.0,1.2,1.0,140,263,5.5,1.85,11.15,2019-12-01,00:10:13,2019-12-01,00:13:30
1,107,2019-12-01 00:08:57,2019-12-01 00:20:32,2.0,3.1,1.0,48,263,11.5,3.06,18.36,2019-12-01,00:08:57,2019-12-01,00:20:32

In [58]:
taxi_2019.tpep_pickup_datetime = pd.to_datetime(taxi_2019.tpep_pickup_datetime)
taxi_2019.tpep_dropoff_datetime	 = pd.to_datetime(taxi_2019.tpep_dropoff_datetime)

In [59]:
# taxi['pickup_time']= taxi.tpep_pickup_datetime.dt.time
# taxi['dropoff_time']= taxi.tpep_dropoff_datetime.dt.time

In [60]:
taxi_2019['ride_duration'] = taxi_2019.tpep_dropoff_datetime - taxi_2019.tpep_pickup_datetime
taxi_2019.ride_duration.mean()

Timedelta('0 days 00:14:01.951711931')

In [61]:
taxi_2019.tpep_pickup_datetime.dt.date

0         2019-12-01
1         2019-12-01
2         2019-12-01
3         2019-12-01
4         2019-12-01
             ...
239500    2019-06-30
239501    2019-06-30
239502    2019-06-30
239503    2019-06-30
239504    2019-06-30
Name: tpep_pickup_datetime, Length: 490443, dtype: object

In [ ]:
#use bar chart to compare average lengh of ride
#pull mode

# FHV Data

In [81]:
#2019 FHV data
fhv_dec_2019 = pd.read_csv("HighVol_dec_2019.csv")
fhv_june_2019 = pd.read_csv("HighVol_june_2019.csv")
fhv_june_2019.head(2)

,Unnamed: 0,hvfhs_license_num,dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,pickup_date,pickup_time,dropoff_date,dropoff_time
0,90,HV0004,B02800,2019-06-01 00:09:57,2019-06-01 00:16:41,237,263,2019-06-01,00:09:57,2019-06-01,00:16:41
1,143,HV0003,B02869,2019-06-01 00:20:37,2019-06-01 00:37:38,45,263,2019-06-01,00:20:37,2019-06-01,00:37:38

In [83]:
fhv_june_2019.pickup_datetime = pd.to_datetime(fhv_june_2019.pickup_datetime)
fhv_june_2019.dropoff_datetime	 = pd.to_datetime(fhv_june_2019.dropoff_datetime)

fhv_june_2019['ride_duration'] = fhv_june_2019.dropoff_datetime - fhv_june_2019.pickup_datetime
fhv_june_2019.ride_duration.mean()

Timedelta('0 days 00:19:32.722112147')

In [84]:
fhv_dec_2019.pickup_datetime = pd.to_datetime(fhv_dec_2019.pickup_datetime)
fhv_dec_2019.dropoff_datetime	 = pd.to_datetime(fhv_dec_2019.dropoff_datetime)

fhv_dec_2019['ride_duration'] = fhv_dec_2019.dropoff_datetime - fhv_dec_2019.pickup_datetime
fhv_dec_2019.ride_duration.mean()

Timedelta('0 days 00:19:09.215071139')

In [92]:
#2019 FHV data
fhv_dec_2015 = pd.read_csv("FHV_dec_2015.csv")
fhv_june_2015 = pd.read_csv("FHV_june_2015.csv")
fhv_june_2015.head(2)

,Unnamed: 0,Dispatching_base_num,Pickup_date,locationID,pickup_date,pickup_time
0,61562,B00221,2015-06-03 14:27:00,263.0,2015-06-03,14:27:00
1,61839,B00221,2015-06-04 08:53:00,263.0,2015-06-04,08:53:00

In [ ]:
#BarChart
duration=[taxi_june_2019,taxi_dec_2019]

x = ['taxi_dec_2019', 'fhv_dec_2019']
y = [5, 10, 15, 20, 25]

x_pos = [i for i, _ in enumerate(x)]

plt.bar(x_pos, duration, color='green')
plt.xlabel("Energy Source")
plt.ylabel("Duration (Minutes)")
plt.title("Energy output from various fuel sources")

plt.xticks(x_pos, x)

plt.show()